<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Attribute Directive</h1>
    <p>ngClass, ngStyle...</p>
    <button class="btn btn-danger" (click)="navigateToStructural()">Go To Structural Dir</button>
 </div>
<div class="row pt-3">
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="div1BgColor">
           <h4>Div-1 </h4> 
        </div>
    </div>
    <div class="col-3">
        <div class="bg-success p-3 text-center" [ngClass]="isDivActive == true ? 'bg-success' : 'bg-warning' " >
            <h4>Div-2 </h4> 
        </div>
    </div> 
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="text1 == text2 ? 'bg-secondary text-white' : 'bg-danger text-primary' " >
            <h4>Div-3 </h4> 
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="selectedState == 'India' ? 'bg-primary' : '' ">
            <h4>Div-4 </h4> 
        </div>
    </div>
</div>


<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="addRedClass()" >Red</button>
        <button class="btn btn-primary mx-2" (click)="addBlueClass()" >Blue</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv()" >Toggle</button>
    </div> 
    <div class="col-3">   
          <div style="display: flex;align-items:center">
            <input type="text" [(ngModel)]="text1" placeholder="Text-1" class="width-50">
            <input type="text" [(ngModel)]="text2" placeholder="Text-2" class="width-50">
          </div>
    </div>
    <div class="col-3 ">
        <div style="display: flex;align-items:center">
            <input type="checkbox" [(ngModel)]="isCheecked"  class="width-50">
            <select [(ngModel)]="selectedState">
                <option value="">Select State</option>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="SriLanka">SriLanka</option>
            </select>
        </div>
    </div>
</div>


<div class="row mt-3 align-items-center justify-content-center">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Total Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let stud of studentList; let srNo = index " >
                    <td>{{stud.name}}</td>
                    <td>{{stud.city}}</td>
                    <td [ngStyle]="{'background-color':stud.isActive ? '#198754':'#DC3545'}">
                        <span>{{stud.isActive ? 'Active':'De-Active'}}</span>
                    </td>
                    <td>{{stud.gender}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width':stud.totalMarks+'%'}">{{stud.totalMarks}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>