<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand custom-navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="['profile']">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="['chat']">
            <i class="fas fa-comments"></i> Chat
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="['users']">
            <i class="fas fa-users"></i> Users
          </a>
        </li>
      </ul>
      <button class="btn btn-outline-danger custom-logout-btn" (click)="logout('manual')">Logout</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
