<div class="card shadow">
  <div class="card-header bg-info text-white text-center">
    <h4 class="mb-0">Appointment Booked</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li *ngFor="let appointment of (appointmentBooked$ | async)"
        class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Mr.{{ appointment.patientName }}</strong> has appointment with <strong> Dr. {{ appointment.doctorName
            }}</strong> on
          <br />
          <small class="text-muted">
            {{ appointment.date }} at {{ appointment.time }}
          </small>
        </div>
        <button class="btn btn-warning btn-sm" (click)="moveToWaitingRoom(appointment.id)">
          Move to Waiting Room
        </button>
      </li>
    </ul>
    <div *ngIf="!(appointmentBooked$ | async)?.length" class="text-center mt-2 text-muted">
      No appointments booked.
    </div>
    <div *ngIf="((appointmentBooked$ | async)?.length ?? 0) >= 15" class="text-center mt-3 text-danger">
      Appointment Booked limit reached.
    </div>
  </div>
</div>