<button class="btn btn-primary mx-2 my-2" [routerLink]="['../add-provider-appointment']">Add Appointment</button>

<div *ngIf="filterAppointments.length === 0" class="no-data">
    <p>No appointments found.</p>
</div>
  
  <div *ngIf="filterAppointments.length > 0" class="appointment-list">
    <div *ngFor="let appointment of filterAppointments" class="appointment-card">
      <div class="appointment-header">
        <h3>PT-{{ appointment.patientName }}</h3>
        <span class="appointment-status" [ngClass]="{
          'status-scheduled': appointment.appointmentStatus === 'Scheduled',
          'status-completed': appointment.appointmentStatus === 'Completed',
          'status-cancelled': appointment.appointmentStatus === 'Cancelled'
        }">
          {{ appointment.appointmentStatus }}
        </span>
      </div>
      <div class="appointment-body">
        <p><strong>Complaint:</strong> {{ appointment.chiefComplaint }}</p>
        <p><strong>Appointment Date:</strong> {{ appointment.appointmentDate | date:'longDate' }}</p>
        <p><strong>Appointment Time:</strong> {{ appointment.appointmentTime  }}</p>
      </div>
      <div class="appointment-footer">
        <button class="btn btn-warning" [routerLink]="['/home/provider-dashboard/complete-appointment',appointment.appointmentId]">Go To Appointment</button>
        <button class="btn btn-danger ms-2" (click)="cancelAppointment(appointment.appointmentId)">Cancel Appointment</button>
      </div>
    </div>
  </div>