<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/customer-dashboard">EComApplication</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="userRole == 1">
          <a class="nav-link fs-5" [routerLink]="['product']">
            <i class="fas fa-store"></i> Product
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole == 2">
          <a class="nav-link fs-5" [routerLink]="['customer-dashboard']">
            <i class="fas fa-store"></i> Market
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['profile']">
            <i class="fas fa-users"></i> Profile
          </a>
        </li>
      </ul>

      <ul class="navbar-nav me-4 mt-2">
        <li class="nav-item position-relative" *ngIf="userRole == 2">
          <a class="nav-link" [routerLink]="['cart']">
            <i class="fas fa-shopping-cart text-dark"></i>
            <span class="badge bg-danger rounded-circle position-absolute top-9 start-100 translate-middle">
              {{ cartItemCount }}
            </span>
          </a>
        </li>
      </ul>

      <div class="dropdown d-flex align-items-center">
        <button
          class="btn btn-link d-flex align-items-center p-0"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="imgUrl"
            alt="User Image"
            class="rounded-circle"
            width="50"
            height="50"
            style="object-fit: cover;"
          />
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="openUpdateProfileModal()">Update Profile</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="openChangePasswordModal()">Change Password</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><button class="dropdown-item" (click)="logout('manual')">Logout</button></li>
        </ul>
      </div>

    </div>
  </div>
</nav>







<div
class="modal fade"
id="updateProfileModal"
#updateProfileModal
tabindex="-1"
aria-labelledby="updateProfileModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="updateProfileModalLabel">
        Update Profile
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="closeUpdateProfileModal()"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdateProfile()" class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateFirstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="updateFirstName"
                minlength="2"
                maxlength="20"
                formControlName="firstName"
              />
              <div *ngIf="updateProfileForm.get('firstName')?.errors?.['minlength']"  class="text-danger small mt-1">
                First name must be at least 2 characters.
              </div>
              <div *ngIf="updateProfileForm.get('firstName')?.errors?.['maxlength']"  class="text-danger small mt-1">
                First name must not exceed 20 characters.
              </div>
              <div *ngIf="updateProfileForm.get('firstName')?.errors?.['pattern']"  class="text-danger small mt-1">
                First name can only contain letters with a single space between words.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateLastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="updateLastName"
                minlength="2"
                maxlength="20"
                formControlName="lastName"
              />
              <div *ngIf="updateProfileForm.get('lastName')?.errors?.['minlength']"  class="text-danger small mt-1">
                Last name must be at least 2 characters.
              </div>
              <div *ngIf="updateProfileForm.get('lastName')?.errors?.['maxlength']"  class="text-danger small mt-1">
                Last name must not exceed 20 characters.
              </div>
              <div *ngIf="updateProfileForm.get('lastName')?.errors?.['pattern']"  class="text-danger small mt-1">
                Last name can only contain letters with a single space between words.
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateEmail" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="updateEmail"
                formControlName="email"
                readonly
              />
              <div *ngIf="updateProfileForm.get('email')?.touched" class="text-danger small mt-1">
                Email cannot be changed
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateMobile" class="form-label">Mobile</label>
              <input
                type="tel"
                class="form-control"
                id="updateMobile"
                maxlength="10"
                placeholder="Enter your mobile number"
                (keypress)="onKeyPress($event)"
                formControlName="mobile"
              />
              <div *ngIf="updateProfileForm.get('mobile')?.hasError('pattern') && updateProfileForm.get('mobile')?.touched" class="text-danger small mt-1">
                Mobile number must be a valid 10-digit number.
              </div>
            </div>
          </div>
        </div>
      
        <div class="row"> 
          <div class="col-md-6">
            <div class="mb-3">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                id="dateOfBirth"
                formControlName="dateOfBirth"
                [max]="todayDate"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="role" class="form-label">Usertype</label>
              <select
                class="form-control rounded-3"
                id="userType"
                formControlName="userType"
                
              >
                <option value="" disabled>Select Usertype</option>
                <option [value]="UserType.Admin">Admin</option>
                <option [value]="UserType.Customer">Customer</option>
              </select>
              <div
                *ngIf="
                  updateProfileForm.get('userType')?.invalid &&
                  updateProfileForm.get('userType')?.touched
                "
                class="text-danger small mt-1"
              >
                UserType is required
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateAddress" class="form-label">Address</label>
              <textarea
                type=""
                minlength="10"
                maxlength="150"
                class="form-control"
                id="updateAddress"
                formControlName="address"
                placeholder="Enter your address"
              ></textarea>
              <div *ngIf="updateProfileForm.get('address')?.errors?.['minlength']"  class="text-danger small mt-1">
                Address must be at least 10 characters long.
              </div>
              <div *ngIf="updateProfileForm.get('address')?.errors?.['maxlength']"  class="text-danger small mt-1">
                Address cannot exceed 150 characters.
              </div>
              <div *ngIf="updateProfileForm.get('address')?.errors?.['pattern']"  class="text-danger small mt-1">
                Address can only contain letters, numbers, spaces, commas, periods, and hyphens.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateProfileImage" class="form-label">Profile Image</label>
              <input
                type="file"
                class="form-control"
                id="updateProfileImage"
                formControlName="file"
                (change)="onFileSelected($event)"
                
              />
              <div *ngIf="updateProfileForm.get('file')?.touched" class="text-danger small mt-1">
                Profile Image is required.
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateState" class="form-label">State</label>
              <select
                class="form-control rounded-3"
                id="registerState"
                formControlName="state"
                
                required
              >
                <option value="" disabled>Select State</option>
                <option *ngFor="let state of allState " [value]="state.stateId">{{state.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="updateCountry" class="form-label">Country</label>
              <select
                (change)="getState(updateProfileForm.get('country')?.value)" 
                name="country"
                class="form-control rounded-3"
                id="registerCountry"
                formControlName="country"
                required
              >
                <option value="" disabled>Select Country</option>
                <option *ngFor="let item of allCountry " [value]="item.countryId" >{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="registerZipCode" class="form-label">Zip Code</label>
              <input
                type="number"
                class="form-control rounded-3"
                id="registerZipCode"
                minlength="6"
                maxlength="6"
                formControlName="zipCode"
                (keypress)="onKeyPress($event)"
                placeholder="Enter your zip code"
                
              />
              <div *ngIf="updateProfileForm.get('zipCode')?.errors?.['pattern'] &&  updateProfileForm.get('zipCode')?.touched" class="text-danger small mt-1">
                Please enter a valid 6-digit ZIP code.
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-check mt-4">
              <input
                type="checkbox"
                class="form-check-input"
                id="registerIsActive"
                formControlName="isActive"
                required
              />
              <label for="registerIsActive" class="form-check-label">
                I agree to the Terms & Conditions
              </label>
            </div>
          </div> -->
        </div>
      
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary w-100 mt-3">
              Save Changes
            </button>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
</div>


<div
class="modal fade"
id="changePasswordModal"
#changePasswordModal
tabindex="-1"
aria-labelledby="changePasswordModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="changePasswordModalLabel">
        Change Password
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="closeChangePasswordModal()"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            minlength="8"
            maxlength="15"
            formControlName="newPassword"
            required
          />

            <div
              *ngIf="
                changePasswordForm.get('newPassword')?.invalid &&
                changePasswordForm.get('newPassword')?.touched
              "
              class="text-danger small mt-1"
            >
            <span
            *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']"
            >This is required</span
          >
          <span
            *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']" 
          >
            Password must be at least 8 characters long, contain an
            uppercase letter, a lowercase letter, a number, and a special
            character
          </span>
        </div>
      </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            minlength="8"
            maxlength="15"
            formControlName="confirmPassword"
            required
          />
          <div *ngIf="
                          changePasswordForm.get('confirmPassword')?.invalid &&
                          changePasswordForm.get('confirmPassword')?.touched
                        " class="text-danger">
            Please confirm your new password
          </div>
          <div *ngIf="newPasswordMismatch" class="text-danger">
            Passwords does not match
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="changePasswordForm.invalid || newPasswordMismatch">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
</div>



<router-outlet></router-outlet>