<div class="container mt-2 pb-5 login-register">
  <div class="card shadow-lg rounded-4">
    <div class="card-body p-4">
      <h5 class="card-title text-center mb-4">User Authentication</h5>

      <form [formGroup]="loginForm" (ngSubmit)="sendOtp()">
        <!-- Login Form -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control rounded-3" id="username" minlength="10" maxlength="25"
            formControlName="userName" placeholder="Enter your username" required />
          <div *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched"
            class="text-danger small mt-1">
            Username is required.
          </div>
          <div *ngIf="loginForm.get('userName')?.errors?.['minlength']" class="text-danger small mt-1">
            Username must be at least 10 characters.
          </div>
          <div *ngIf="loginForm.get('userName')?.errors?.['maxlength']" class="text-danger small mt-1">
            Username must not exceed 25 characters.
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="loginPassword" class="form-label">Password</label>
          <input [type]="showPassword ? 'text' : 'password'" class="form-control rounded-3" id="loginPassword"
            formControlName="password" minlength="8" maxlength="20" placeholder="Enter your password" required />
          <i class="bi" [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            (click)="togglePasswordVisibility()" style="
                  position: absolute;
                  right: 14px;
                  top: 54px;
                  cursor: pointer;
                "></i>
          <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
            class="text-danger small mt-1">
            Password is required.
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['pattern']" class="text-danger small mt-1">
            Password must be at least 8 characters long, contain an
            uppercase letter, a lowercase letter, a number, and a special
            character
          </div>
        </div>

        <div class="text-end mb-4">
          <a href="javascript:void(0)" (click)="openForgotPassword()" class="text-primary">
            Forgot Password?
          </a>
        </div>


        <button type="submit" class="btn btn-primary w-100 rounded-3 py-2">Login
        </button>
      </form>

    </div>
  </div>
</div>


<!-- Verify OTP Modal -->
<div class="modal" id="verifyOtpModal" tabindex="-1" aria-labelledby="verifyOtpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verifyOtpModalLabel">
          Verify Otp
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeVerifyOtp()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="verifyOtpForm" (ngSubmit)="onLoginSubmit()">
          <div class="mb-3">
            <label for="forgotPasswordEmail" class="form-label">OTP</label>
            <input type="tel" class="form-control rounded-3" id="verifyOtp" maxlength="6" minlength="6"
              formControlName="otp" (keypress)="onKeyPress($event)" placeholder="Enter your otp" required />
            <div *ngIf="
                verifyOtpForm.get('otp')?.invalid &&
                verifyOtpForm.get('otp')?.touched
              " class="text-danger small mt-1">
              Invalid Otp
            </div>
            <div *ngIf="verifyOtpForm.get('otp')?.errors?.['minlength']" class="text-danger small mt-1">
              OTP must be 6 characters.
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 rounded-3 py-2">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="overlay" class="overlay"></div>

<!-- Forgot Password Modal -->
<div class="modal" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">
          Forgot Password
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeForgotPassword()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
          <div class="mb-3">
            <label for="forgotPasswordEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control rounded-3" id="forgotPasswordEmail" formControlName="email"
              placeholder="Enter your email" maxlength="30" required />
            <div
              *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched"
              class="text-danger small mt-1">
              Email is required.
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" class="text-danger small mt-1">
              Please enter a valid email address.
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['maxlength']" class="text-danger small mt-1">
              Email must not exceed 30 characters.
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 rounded-3 py-2">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>