
  <div class="container-fluid">
    <div class="row ">
        <div class="col-12 text-center">
            <h1 class="d-flex mt-3 justify-content-center align-item-center">This is User Page</h1>
            <a class="btn  bsb-btn-5xl btn-dark rounded-pill mt-3 px-5 fs-6 m-0 " routerLink="/home" role="button">Back to Home</a>
            <a class="btn  bsb-btn-5xl btn-dark rounded-pill mx-3 mt-3 px-5 fs-6 m-0 " routerLink="/user/profile" role="button">Go to Profile</a>
        </div>
    </div>
  </div>