<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 400px;">
      <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="getAgentDetails()">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder="Old Password" required>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword" placeholder="New Password" required>
          </div>
          <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" [(ngModel)]="confirmNewPassword" placeholder="Confirm New Password" required>
            <div *ngIf="newPassword !== confirmNewPassword && confirmNewPassword" class="text-danger">
              Passwords must match
            </div>
          </div>
          <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary w-100" style="height: 50px;">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  